{% extends 'index.html' %}
{% block title %}DiplomaticXpress - Reset Password{% endblock %}
{% block content %}
  <div>
    <div class="w-container">
      <div class="div-block-9">
        <div class="form-block w-form">
          <form class="form-2" method="POST">
              {% if msg %}
                {% if success %}
                  <div class="w-form-done">
                    <p>{{ msg }}</p>
                  </div>
                {% else %}
                  <div class="w-form-fail">
                    <p>{{ msg }}</p>
                  </div>
                  <br>
                {% endif %}
              {% endif %}
              {% if not success %}
              {% csrf_token %}
                <p class="w-form-label">{{ form.old_password.label }}</p>
                {{ form.old_password }}
                {% if form.old_password.errors %}
                  <p>{{ form.old_password.errors }}</p>
                {% endif %}

                <p class="w-form-label">{{ form.new_password1.label }}</p>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                  <p>{{ form.new_password1.errors }}</p>
                {% endif %}

                <p class="w-form-label">{{ form.new_password2.label }}</p>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                  <p>{{ form.new_password2.errors }}</p>
                {% endif %}
                <button type="submit" class="submit-button-2 w-button">Change Password</button>
              {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}