{% extends 'index.html' %}
{% block title %}DiplomaticXpress - Reset Password{% endblock %}
{% block content %}
  <div>
    <div class="w-container">
      <div class="div-block-9">
        <div class="form-block w-form">
          <form class="form-2" method="POST">
              {% csrf_token %}
              <p class="w-form-label">{{ form.email.label }}</p>
              {{ form.email }}
              <button type="submit" class="submit-button-2 w-button">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}