{% extends 'index.html' %}
{% load static %}
{% block content %}
  <div class="section-3">
    <div class="div-block-10"></div>
    <div class="container w-container">
      <div style="width: 100%; height: auto; padding-top: 20px">
          <a class="text-block-5" style="color: #006b3f;" href="{% url 'sharingview' hash=hash name=name %}"> &lt;Back </a>
          <div class="div-block-15" style="overflow-x: auto; padding: 30px">
            <embed src="{{ file.file.url }}" type="application/pdf" width="100%" height="800px">
          </div>
      </div>
    </div>
  </div>
{% endblock %}