{% extends 'dashboard.html' %}
{% block heading %}Invoices{% endblock %}
{% block inv %}
    style="color: #006b3f;"
{% endblock %}
{% block banner %}
    <div class="invoicebanner"></div>
{% endblock %}
{% block dashboard %}
    <div class="div-block-14">
          <div data-duration-in="300" data-duration-out="100" class="tabs-2 w-tabs">
            <div class="tabs-menu-2 w-tab-menu">
              <a data-w-tab="Tab 1" class="tab-link-tab-1-2 w-inline-block w-tab-link {% if active == 1 %}w--current{% elif active == 2 %}{% else %}w--current{% endif %}">
                <div>My Invoices</div>
              </a>
              <a data-w-tab="Tab 2" class="tab-link-tab-2-2 w-inline-block w-tab-link {% if active == 2 %}w--current{% endif %}">
                <div>Shared Invoices</div>
              </a>
            </div>
            <div class="tabs-content-2 w-tab-content">
              <div data-w-tab="Tab 1" class="tab-pane-tab-1-2 w-tab-pane {% if active == 1 %}w--tab-active{% elif active == 2 %}{% else %}w--tab-active{% endif %}">
                <div class="div-block-18" style="overflow-x:auto;">
                    <table>
                        <tr class="text-block-5">
                            <th>Mission Name</th>
                            <th>Received</th>
                            <th>Due</th>
                            <th>Paid</th>
                            <th>Total</th>
                            <th>Invoice Number</th>
                            <th></th>
                            <th></th>
                        </tr>
                        {% for x in invoice_list %}
                            {% for y in x %}
                                <tr class="text-block-5">
                                    <td>{{ y.organisation }}</td>
                                    <td>{{ y.issue_date }}</td>
                                    <td>{{ y.due_date }}</td>
                                    <td>
                                        {% if y.paid %}
                                            <p class="text-block-5">Paid</p>
                                        {% else %}
                                            <a class="text-block-5" style="color: #CE1225" href=""><b>Pay</b></a>
                                        {% endif %}
                                    </td>
                                    <td>{{ y.amount }}</td>
                                    <td>{{ y.invoice_number }}</td>
                                    <td><a class="text-block-5" style="color: #006b3f;" href="{% url 'invoicesee' id=y.id %}">View</a></td>
                                    <td><a class="text-block-5" style="color: #006b3f;" href="{% url 'invoiceshare' id=y.id %}">Share</a></td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                </div>
              </div>
              <div data-w-tab="Tab 2" class="tab-pane-tab-2-2 w-tab-pane {% if active == 2 %}w--tab-active{% endif %}">
                <div class="div-block-18">
                    <div class="div-block-18" style="overflow-x:auto;">
                    <table>
                        <tr class="text-block-5">
                            <th>Mission Name</th>
                            <th>Received</th>
                            <th>Due</th>
                            <th>Paid</th>
                            <th>Total</th>
                            <th>Invoice Number</th>
                            <th></th>
                            <th></th>
                        </tr>
                        {% for x in invoice_list_share %}
                            {% for y in x %}
                                <tr class="text-block-5">
                                    <td>{{ y.organisation }}</td>
                                    <td>{{ y.issue_date }}</td>
                                    <td>{{ y.due_date }}</td>
                                    <td>
                                        {% if y.paid %}
                                            <p class="text-block-5">Paid</p>
                                        {% else %}
                                            <a class="text-block-5" style="color: #CE1225" href=""><b>Pay</b></a>
                                        {% endif %}
                                    </td>
                                    <td>{{ y.amount }}</td>
                                    <td>{{ y.invoice_number }}</td>
                                    <td><a class="text-block-5" style="color: #006b3f;" href="{% url 'invoicesee' id=y.id %}">View</a></td>
                                    <td><a class="text-block-5" style="color: #006b3f;" href="{% url 'invoicesharestop' id=y.id %}">Stop Sharing</a></td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}