{% extends 'dashboard.html' %}
{% load static %}
{% block heading %}Manage Account Information{% endblock %}
{% block org %}
    style="color: #006b3f;"
{% endblock %}
{% block dashboardback %}
    <a class="text-block-5" style="color: #006b3f;" href="{% url 'orgdetailview' active=2 name=name %}"> &lt;Back </a>
{% endblock %}
{% block banner %}
    <div class="orgbanner"></div>
{% endblock %}
{% block dashboard %}
    <div class="div-block-14">
        <div class="heading-2">{{ name }}</div>
        <div class="div-block-15"> <!-- style="overflow-x:auto; min-width: 400px;" -->
            {% if msg and success %}
                <div class="w-form-done">
                    <p class="text-block-5"><img width="20px" src="{% static 'images/checkmark-removebg-preview.png' %}">{{ msg }}</p>
                </div>
                <br>
            {% elif msg and not success %}
                <div class="w-form-fail">
                    <p class="text-block-5">{{ msg }}</p>
                </div>
                <br>
            {% endif %}
            <form class="form-2" method="post">
                {% csrf_token %}
                <p class="w-form-label">{{ form.first_name.label }}</p>
                {{ form.first_name }}
                <p class="w-form-label">{{ form.last_name.label }}</p>
                {{ form.last_name }}
                <p class="w-form-label">{{ form.email.label }}</p>
                {{ form.email }}
                {% if admin %}
                    <p class="text-block-5">{{ form.admin_access.label }}</p>
                    {{ form.admin_access }}
                {% else %}
                    <div style="display: none">
                        <p class="text-block-5">{{ form.admin_access.label }}</p>
                        {{ form.admin_access }}
                    </div>
                {% endif %}
                <p class="w-form-label">{{ form.account_type.label }}</p>
                {{ form.account_type }}
                <div class="div-block-22xy" style="background-color: rgba(256,256,256,0)">
                    <a href="{% url 'orgdetailview' active=2 name=name %}" style="background-color: #ffffff; color: #6d6d6d; margin-right: 10px;" class="submit-button-2 w-button">CANCEL</a>
                    <button type="submit" value="Login" class="submit-button-2 w-button">SAVE</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}