{% extends 'dashboard.html' %}
{% block heading %}Renewables{% endblock %}
{% block rene %}
    style="color: #006b3f;"
{% endblock %}
{% block banner %}
    <div class="renewalbanner"></div>
{% endblock %}
{% block dashboard %}
    <div class="div-block-14">
          <div data-duration-in="300" data-duration-out="100" class="tabs-2 w-tabs">
            <div class="tabs-menu-2 w-tab-menu">
              <a data-w-tab="Tab 1" class="tab-link-tab-1-2 w-inline-block w-tab-link {% if active == 1 %}w--current{% else %}w--current{% endif %}">
                <div>Mission Renewals</div>
              </a>
            </div>
            <div class="tabs-content-2 w-tab-content">
              <div data-w-tab="Tab 1" class="tab-pane-tab-1-2 w-tab-pane {% if active == 1 %}w--tab-active{% else %}w--tab-active{% endif %}">
                <div class="div-block-18" style="overflow-x:auto;">
                    <table>
                        <tr class="text-block-5">
                            <th>Description</th>
                            <th>Received</th>
                            <th>Due</th>
                            <th></th>
                        </tr>
                        {% for x in renewal_list %}
                            {% for y in x %}
                                <tr class="text-block-5">
                                    <td>{{ y.organisation }}</td>
                                    <td>{{ y.received_date }}</td>
                                    <td>
                                        {% if y.due_date > today %}
                                            <p class="text-block-5">{{ y.due_date }}</p>
                                        {% else %}
                                            <p class="text-block-5" style="color: #CE1225"><b>{{ y.due_date }}</b></p>
                                        {% endif %}
                                    </td>
                                    <td><a class="text-block-5" style="color: #006b3f;" href="">Renew</a></td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}