body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.heading {
  margin-top: 10px;
  color: #006b3f;
}

.nav-link {
  color: #6D6D6D;
  text-transform: uppercase;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0px;
  right: 0%;
  bottom: auto;
  z-index: 10;
  background-color: #fff;
}

.nav-link-2 {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #006b3f;
  color: #fff;
  text-transform: uppercase;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 50px;
  margin-top: auto;
  background-color: #1d1d1d;
}

.text-block-2 {
  display: block;
  padding-top: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #a5a5a5;
  text-align: center;
}

.section {
  position: static;
  margin-top: 0px;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  height: 85vh;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/home-bg.png');
  background-size: cover;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/home-bg.png');

  background-size: cover;
  background-attachment: fixed;
}

.div-block-2 {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 40%;
  height: 60%;
  background-color: #006b3f;
  -webkit-transform: translate(0px, -200px);
  -ms-transform: translate(0px, -200px);
  transform: translate(0px, -200px);
}

.div-block-3 {
  position: static;
  width: 60%;
  margin-top: 60px;
  margin-bottom: 30px;
  height: auto;
  padding: 10px;
  border: 0.5px solid grey;
  background-color: #fff;
  -o-object-fit: fill;
  object-fit: fill;
}

.dashheading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.uploadbutton{
  background-color: #1d1d1d;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .div-block-3 {
    margin-top: 90px;
  }
  .div-block {
    height: 50%;
    bottom: -20%;
  }
}

@media screen and (min-width: 1440px) {
  .div-block-3 {
    margin-top: 180px;
  }
  .section-2 {
    height: 90vh;
  }
}

.heading-2 {
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.0048px;
  color: #1D1D1D;
}

.text-block-3 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.0032px;
  color: #1D1D1D;
}

.list {
  margin-top: 10px;
  color: #006b3f;
}

.rich-text-block {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.list-2 {
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #006b3f;
  font-weight: 500;
  list-style-type: square;
  font-size: 170%;
}

.list-item {
  font-family: 'Open Sans', sans-serif;
}

.bold-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.bold-text-2 {
  font-weight: 600;
}

.bold-text-3 {
  color: #1d1d1d;
  font-weight: 600;
  font-size: 16px;
}

.bold-text-4 {
  color: #1d1d1d;
  font-weight: 600;
  font-size: 16px;
}

.bold-text-5 {
  color: #1d1d1d;
  font-weight: 600;
  font-size: 16px;
}

.list-item-2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.bold-text-6 {
  font-weight: 600;
}

.list-2-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  color: #006b3f;
  font-weight: 500;
  list-style-type: square;
  font-size: 170%;
}

.div-block-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  padding: 10px;
}

.div-block-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #006b3f;
}

.text-block-9 {
  background-color: #1d1d1d;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}

.heading-9 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #fff;
  text-align: center;
}

.text-block-9-copy {
  background-color: transparent;
  color: #fff;
  font-size: 10px;
  text-align: center;
}

.button {
  padding: 2px 15px;
  line-height: 22px;
  background-color: #ffffff;
  color: #1d1d1d;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  margin: 0px 5px;
}

.heading-3 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.0048px;
  color: #1D1D1D;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.div-block-4 {
  width: 100%;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-7 {
  width: 50%;
  margin-top: -20px;
}

.heading-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.form {
  display: block;
}

.text-field {
  background-color: #EFEFEF;
}

.textarea {
  background-color: #EFEFEF;
}

.submit-button {
  background-color: #006b3f;
  text-transform: uppercase;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.all-field {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 12px;
  font-style: italic;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.submit-button-2 {
  margin-top: 10px;
  background-color: #006b3f;
}

.section-3 {
  height: auto;
}

.div-block-10 {
  height: 150px;
  background-image: url('../images/header-dashboard.png');
  background-position: 50% 50%;
  background-size: cover;
}

.docbanner {
  height: 150px;
  background-image: url('../images/header-documents.png');
  background-position: 50% 50%;
  background-size: cover;
}

.invoicebanner {
  height: 150px;
  background-image: url('../images/header-invoices.png');
  background-position: 50% 50%;
  background-size: cover;
}

.renewalbanner {
  height: 150px;
  background-image: url('../images/header-renewals.png');
  background-position: 50% 50%;
  background-size: cover;
}

.orgbanner {
  height: 150px;
  background-image: url('../images/header-organizations.png');
  background-position: 50% 50%;
  background-size: cover;
}

.servicebanner {
  height: 150px;
  background-image: url('../images/header-services.png');
  background-position: 50% 50%;
  background-size: cover;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tab-pane-tab-1 {
  width: 100%;
  height: 100%;
  background-color: #aa4141;
}

.tabs-content {
  width: 90%;
  height: 100%;
}

.tab-link-tab-1 {
  padding-right: 14px;
  padding-left: 14px;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.tab-link-tab-1:hover {
  background-color: transparent;
}

.tab-link-tab-1:active {
  background-color: transparent;
  font-weight: 600;
}

.tab-link-tab-1:focus {
  background-color: transparent;
}

.tab-link-tab-1:visited {
  background-color: transparent;
  color: #006b3f;
}

.tab-link-tab-1.w--current {
  padding-right: 14px;
  padding-left: 14px;
  background-color: transparent;
  color: #006b3f;
  font-weight: normal;
  text-decoration: none;
}

.tab-link-tab-1.w--current:visited {
  color: #006b3f;
  text-decoration: underline;
}

.tab-link-tab-2 {
  padding-right: 14px;
  padding-left: 14px;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-weight: normal;
}

.tab-link-tab-2:hover {
  background-color: transparent;
}

.tab-link-tab-2:active {
  background-color: transparent;
  font-weight: 600;
}

.tab-link-tab-2:focus {
  background-color: transparent;
}

.tab-link-tab-2:visited {
  background-color: transparent;
  color: #006b3f;
  text-decoration: underline;
}

.tab-link-tab-2.w--current {
  background-color: transparent;
  color: #006b3f;
  font-weight: normal;
  text-decoration: none;
}

.tab-link-tab-3 {
  padding-right: 14px;
  padding-left: 14px;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.tab-link-tab-3:visited {
  color: #006b3f;
  text-decoration: underline;
}

.tab-link-tab-3.w--current {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  color: #006b3f;
  font-weight: normal;
  text-decoration: none;
}

.tab-link-tab-3.w--current:hover {
  background-color: transparent;
}

.tab-link-tab-3.w--current:active {
  background-color: transparent;
  font-weight: 600;
}

.tab-link-tab-3.w--current:focus {
  background-color: transparent;
}

.tab-link-tab-3.w--current:visited {
  background-color: transparent;
  color: #006b3f;
  text-decoration: none;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 30px;
  margin-bottom: 29px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.heading-5 {
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.text-block-4 {
  width: 100%;
}

.tab-pane-tab-2 {
  height: 100%;
  background-color: #08e40f;
}

.tab-pane-tab-3 {
  height: 100%;
  background-color: #000;
}

.container {
  height: auto;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: auto;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.link {
  color: #333;
  text-decoration: none;
}

.link-block {
  width: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
  text-decoration: none;
}

.text-block-5 {
  width: 100%;
  padding-top: 8px;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-weight: 500;
  text-decoration: none;
}

.text-block-5xx {
  width: 100%;
  padding-top: 8px;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-weight: 500;
  text-decoration: none;
  color: #6D6D6D;
}

.text-block-5:hover {
  text-decoration: none;
}

.text-block-5:active {
  text-decoration: none;
}

.text-block-5:focus {
  text-decoration: none;
}

.div-block-13 {
  width: 100%;
  height: 1px;
  margin-top: 6px;
  background-color: #E8E8E8;
}

.div-block-14 {
  overflow: auto;
  width: 80%;
  height: auto;
  padding: 10px;
  background-color: transparent;
}

.link-2 {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #006b3f;
  font-weight: 500;
  text-decoration: none;
}

.heading-6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.div-block-15 {
  width: 100%;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.link-block-2 {
  width: 150px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #e6e6e6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.link-block-2:visited {
  background-color: #e6e6e6;
}

.text-block-5-copy {
  width: 100%;
  padding-top: 8px;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.text-block-5-copy:hover {
  text-decoration: none;
}

.text-block-5-copy:active {
  text-decoration: none;
}

.text-block-5-copy:focus {
  text-decoration: none;
}

.div-block-17 {
  width: 100%;
  margin-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
}

.tabs-menu-2 {
  display: block;
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.tab-link-tab-2-2 {
}

.tab-link-tab-2-2.w--current {
  background-color: transparent;
}

.tab-link-tab-1-2 {
}

.tab-link-tab-1-2.w--current {
  background-color: transparent;
}

.tab-link-tab-3-2 {
}

.tab-link-tab-3-2.w--current {
  background-color: transparent;
}

.div-block-18 {
  width: 100%;
  height: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.tabs-2 {
  width: 100%;
}

.tabs-content-2 {
  width: 100%;
  margin-top: 20px;
}

.tab-pane-tab-1-2 {
  width: 100%;
}

.tab-pane-tab-2-2 {
  width: 100%;
}

.tab-pane-tab-3-2 {
  width: 100%;
}

.div-block-19 {
  display: -ms-grid;
  display: grid;
  width: 70%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 150px 150px 150px;
  grid-template-columns: 150px 150px 150px;
  -ms-grid-rows: 150px 150px;
  grid-template-rows: 150px 150px;
}

.div-block-14-copy {
  overflow: auto;
  width: 80%;
  height: auto;
  padding: 10px;
  background-color: transparent;
}

.div-block-14-copy-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 80%;
  height: auto;
  padding: 10px;
  background-color: transparent;
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  width: 200px;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #efefef;
  border-radius: 1px;
  background-color: #fbfbfb;
  font-style: normal;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dashbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #efefef;
  border-radius: 1px;
  background-color: #fbfbfb;
  font-style: normal;
}

.div-block-x {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #e8e8e8;
  border-radius: 1px;
  background-color: #fff;
}

.div-block-x:hover {
  border: 1px solid #006b3f;
  border-radius: 1px;
}

.image-2 {
  margin: 11px;
}

.text-block-9x {
  position: absolute;
  z-index: 999999;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #e55d50;
  -webkit-transform: translate(25px, -30px);
  -ms-transform: translate(25px, -30px);
  transform: translate(25px, -30px);
  color: #fff;
  text-align: center;
  text-align: center;
}

.heading-7 {
  font-family: Fontawesome, sans-serif;
  color: #006b3f;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
}

.italic-text-2 {
  color: #006b3f;
  font-size: 60px;
  font-style: normal;
}

.italic-text-3 {
  font-style: normal;
}

.text-block-6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.div-block-22 {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fbfbfb;
}

.div-block-22x {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fbfbfb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-22xy {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-23 {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
}

.heading-8 {

  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
}

.text-block-7 {
  color: #6d6d6d;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .nav-link-2 {
    display: block;
  }
  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 15px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: #fff;
  }
  .text-block {
    background-color: #fff;
    font-family: Fontawesome, sans-serif;
    color: #006b3f;
    font-style: italic;
  }
  .italic-text {
    font-style: normal;
    text-align: left;
  }
  .menu-button {
    background-color: #fff;
  }
  .menu-button:hover {
    background-color: #fff;
  }
  .menu-button:active {
    background-color: #fff;
  }
  .menu-button:focus {
    background-color: #fff;
  }
  .div-block-3 {
    width: 70%;
    margin-top: 50px;
  }
  .div-block-19 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    -ms-grid-columns: 150px 150px;
    grid-template-columns: 150px 150px;
    -ms-grid-rows: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
  }
  .image-2 {
    margin: 11px;
  }
  .text-block-6 {
    font-size: 12px;
  }
  .italic-text-2 {
    font-size: 55px;
  }
}

@media screen and (max-width: 767px) {
  .div-block-3 {
    width: 80%;
    margin-top: 30px;
  }
  .div-block-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-7 {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .heading-4 {
    text-align: center;
  }
  .form-block {
    width: 80%;
  }
  .tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .tabs-menu {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .tabs-content {
    width: 100%;
    height: 100%;
  }
  .div-block-11 {
    height: 75%;
    padding-right: 8px;
    padding-left: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .div-block-12 {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .link-block {
    width: auto;
    margin: 0px 7px;
  }
  .text-block-5 {
    width: auto;
  }
  .div-block-13 {
    width: 100%;
  }
  .div-block-14 {
    width: 100%;
    height: 90%;
    margin-top: 10px;
  }
  .div-block-16 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .text-block-5-copy {
    width: auto;
  }
  .div-block-19 {
  width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-grid-columns: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
    -ms-grid-rows: 150px 150px;
    grid-template-rows: 150px 150px;
  }
  .div-block-14-copy {
    width: 100%;
    height: 90%;
    margin-top: 10px;
  }
  .div-block-14-copy-copy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 90%;
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-20 {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .image {
    max-width: 200px;
    padding-bottom: 20px;
  }
  .italic-text-2 {
    font-size: 50px;
  }
  .div-block-24 {
    padding-right: 6px;
    padding-left: 6px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-25 {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .div-block-26 {
    width: 40%;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    font-size: 28px;
  }
  .nav-menu {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
  }
  .div-block-3 {
    width: 90%;
  }
  .div-block-12 {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .text-block-5 {
    font-size: 12px;
  }
  .link-block-2 {
    width: auto;
  }
  .text-block-5-copy {
    font-size: 12px;
  }
  .div-block-19 {
    -ms-grid-columns: 125px 125px;
    grid-template-columns: 125px 125px;
    -ms-grid-rows: 125px 125px 125px;
    grid-template-rows: 125px 125px 125px;
  }
  .div-block-21 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .dashbox {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .heading-7 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .italic-text-2 {
    font-size: 30px;
  }
  .div-block-26 {
    width: 45%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .image-2 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .text-block-6 {
    font-size: 12px;
    text-align: center;
  }
  .text-block-9x {
    -webkit-transform: translate(25px, -30px);
    -ms-transform: translate(25px, -30px);
    transform: translate(25px, -30px);
  }
  .div-block-22x{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .list-2-copy{
    width: 100%;
  }
  .div-block-8 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}