{% extends 'index.html' %}
{% load static %}
{% block content %}
  <div>
    <div class="w-container">
      <div class="div-block-22x" style="background-color: rgba(256,256,256,0)">
          <h1 class="heading-5">Contact Us</h1>
          <div class="all-field">All Fields Required</div>
      </div>
      <div class="div-block-5">
        <div class="div-block-6">
            <img src="{% static 'images/contact-us-img.png' %}" width="343" alt="">
        </div>
        <div class="div-block-7">
          <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" class="form" method="post">
                {% if msg %}
                  <div class="w-form-done">
                    <p><img width="20px" src="{% static 'images/checkmark-removebg-preview.png' %}">{{ msg }}</p>
                  </div>
                {% else %}
                  {% csrf_token %}
                  <p class="w-form-label">Name *</p>
                  <input type="text" class="text-field w-input" maxlength="256" name="name" data-name="Name" placeholder="Name" id="name" required="">
                  <p class="w-form-label">Email *</p>
                  <input type="email" class="text-field w-input" maxlength="256" name="email" data-name="Email" placeholder="Email" id="email" required="">
                  <p class="w-form-label">Phone *</p>
                  <input type="tel" class="text-field w-input" maxlength="256" name="Phone" data-name="Phone" placeholder="Phone Number" id="Phone" required="">
                  <p class="w-form-label">Organisation *</p>
                  <input type="text" class="text-field w-input" maxlength="256" name="Organisation" data-name="Organisation" placeholder="Organisation" id="Organisation" required="">
                  <p class="w-form-label">Message *</p>
                  <textarea placeholder="Message" maxlength="5000" id="Message" name="Message" data-name="Message" required="" class="textarea w-input"></textarea>
                  <input type="submit" value="Submit" data-wait="Please wait..." class="submit-button w-button">
                {% endif %}
            </form>
          </div>
        </div>
      </div>
    <br>
    <br>
    </div>
  </div>
{% endblock %}